# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/
env/
*.egg-info/

# Node
node_modules/
.npm/

# Logs
logs/
*.log

# IDE/editor
.vscode/
.idea/
*.code-workspace

# Build outputs
frontend/build/

# Data/Uploads
ai-legal-assistant/backend/uploads/
ai-legal-assistant/backend/data/faiss_index/

# Secrets
*.env
*.env.*
.env
.env.local
.env.development
.env.production
.env.test

# OS trash
.BIN/
